[Unit] 
Description=Python inference process
After=network.target

[Service]
ExecStart=/home/pi/PyML/venv/bin/python3 /home/pi/PyML/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target








